Repository qingfengliu0/AzureIaC: changes, and which Atlantis projects are due for each by the changed paths.
All: test-environment, production-environment

atlantis.yaml:

version: 3
projects:
- name: test-environment
  dir: resume-qliu-test   # Path to your Terraform code folder
  workflow: default
  autoplan:
    when_modified:
    - '**/*.tf'                     # Run plan if any Terraform files change here
    enabled: true
  apply_requirements: []
  branch: test                      # Apply changes only for the test branch
- name: production-environment
  dir: resume-qliu-prod   # Path to your Terraform code folder for production
  workflow: default
  autoplan:
    when_modified:
    - '**/*.tf'                     # Run plan if any Terraform files change here
    enabled: true
  apply_requirements: []
  branch: main                      # Apply changes only for the production branch

Update main.tf
  resume-qliu-prod/modules/rg-qliubackend-prod/main.tf
Due: production-environment

adding production api
  resume-qliu-prod/main.tf
  resume-qliu-prod/modules/rg-qliuapi-prod/main.tf
  resume-qliu-prod/modules/rg-qliuapi-prod/variables.tf
  resume-qliu-prod/modules/rg-qliubackend-prod/output.tf
Due: production-environment

Update main.tf
  resume-qliu-prod/main.tf
Due: production-environment

Delete inventory
  Ansible/inventory
Due: none

delete cdn endpoint
  resume-qliu-prod/modules/rg-qliufrontend-prod/main.tf
  resume-qliu-test/modules/rg-qliufrontend-test/main.tf
Due: test-environment, production-environment

remove cdn
  resume-qliu-prod/modules/rg-qliufrontend-prod/main.tf
  resume-qliu-test/modules/rg-qliufrontend-test/main.tf
Due: test-environment, production-environment

add configurations back
  resume-qliu-test/modules/rg-qliufrontend-test/main.tf
Due: test-environment

update main to include it
  resume-qliu-test/modules/rg-qliufrontend-test/main.tf
Due: test-environment

remove endpoints, cloudflare record and custom domain
  README.md
  resume-qliu-test/modules/rg-qliufrontend-test/main.tf
Due: test-environment

remove cdn profile
  resume-qliu-test/modules/rg-qliufrontend-test/main.tf
Due: test-environment

transfer cdn network to cloudflare
  resume-qliu-test/main.tf
  resume-qliu-test/modules/rg-qliufrontend-test/main.tf
  resume-qliu-test/modules/rg-qliufrontend-test/output.tf
  resume-qliu-test/output.tf
Due: test-environment

point cname to blob endpoint and update atlantis yaml
  atlantis.yaml
  resume-qliu-test/modules/rg-qliufrontend-test/main.tf
  resume-qliu-test/modules/rg-qliufrontend-test/output.tf
  resume-qliu-test/output.tf
Due: test-environment

add redirect rule for cloudflare
  resume-qliu-test/modules/rg-qliufrontend-test/main.tf
  resume-qliu-test/modules/rg-qliufrontend-test/output.tf
  resume-qliu-test/output.tf
Due: test-environment

change the path instead
  resume-qliu-test/modules/rg-qliufrontend-test/main.tf
  resume-qliu-test/modules/rg-qliufrontend-test/output.tf
  resume-qliu-test/output.tf
Due: test-environment

change redirection rule for cloudflare
  resume-qliu-test/modules/rg-qliufrontend-test/main.tf
  resume-qliu-test/modules/rg-qliufrontend-test/output.tf
Due: test-environment

remove the reditection
  resume-qliu-test/modules/rg-qliufrontend-test/main.tf
Due: test-environment

use custom domain
  resume-qliu-test/modules/rg-qliufrontend-test/main.tf
Due: test-environment

Change CDN to Cloudflare from Microsoft
  resume-qliu-prod/main.tf
  resume-qliu-prod/modules/rg-qliufrontend-prod/main.tf
Due: production-environment

Fix function app call issue
  resume-qliu-test/modules/rg-qliuapi-test/main.tf
Due: test-environment

revert the change on container connection
  resume-qliu-test/modules/rg-qliuapi-test/main.tf
Due: test-environment
