Repository qingfengliu0/AzureIaC: changes, and which Atlantis projects are due for each by the changed paths.
All: test-environment, production-environment

atlantis.yaml:

version: 3
projects:
- name: test-environment
  dir: resume-qliu-test   # Path to your Terraform code folder
  workflow: default
  autoplan:
    when_modified:
    - '**/*.tf'                     # Run plan if any Terraform files change here
    enabled: true
  apply_requirements: []
  branch: test                      # Apply changes only for the test branch
- name: production-environment
  dir: resume-qliu-prod   # Path to your Terraform code folder for production
  workflow: default
  autoplan:
    when_modified:
    - '**/*.tf'                     # Run plan if any Terraform files change here
    enabled: true
  apply_requirements: []
  branch: main                      # Apply changes only for the production branch

Revert "regex parttern"
  atlantis.yaml
Due: none

Revert "add production and separate subscription"
  atlantis.yaml
  resume-qliu-prod/main.tf
  resume-qliu-prod/rg-qliufrontend-prod/main.tf
  resume-qliu-prod/rg-qliufrontend-prod/variables.tf
  resume-qliu-prod/variables.tf
  resume-qliu-test/main.tf
  resume-qliu-test/variables.tf
Due: test-environment, production-environment

change file name to main.tf
  atlantis.yaml
Due: none

add regex expression
  atlantis.yaml
Due: none

test
  resume-qliu-test/main.tf
Due: test-environment

add production
  resume-qliu-prod/main.tf
  resume-qliu-prod/modules/rg-qliufrontend-test/main.tf
  resume-qliu-prod/modules/rg-qliufrontend-test/variables.tf
  resume-qliu-prod/variables.tf
Due: production-environment

wrong folder name
  resume-qliu-prod/modules/rg-qliufrontend-prod/main.tf
  resume-qliu-prod/modules/rg-qliufrontend-prod/variables.tf
Due: production-environment

specify sub id
  resume-qliu-prod/modules/rg-qliufrontend-prod/variables.tf
Due: production-environment

remove the created resource first
  resume-qliu-prod/main.tf
Due: production-environment

remove the resources
  resume-qliu-prod/main.tf
  resume-qliu-prod/modules/rg-qliufrontend-prod/main.tf
Due: production-environment

Update main.tf
  resume-qliu-prod/main.tf
Due: production-environment

change subscription
  resume-qliu-prod/main.tf
  resume-qliu-prod/modules/rg-qliufrontend-prod/main.tf
Due: production-environment

Update main.tf
  resume-qliu-prod/modules/rg-qliufrontend-prod/main.tf
Due: production-environment

change the website address
  resume-qliu-prod/modules/rg-qliufrontend-test/main.tf
  resume-qliu-test/variables.tf
Due: test-environment, production-environment

change the website address
  resume-qliu-test/modules/rg-qliufrontend-test/variables.tf
Due: test-environment

remove custom domain so we can recreate them
  resume-qliu-test/modules/rg-qliufrontend-test/main.tf
Due: test-environment

add the website with new address
  resume-qliu-test/modules/rg-qliufrontend-test/main.tf
  resume-qliu-test/variables.tf
Due: test-environment

correct dns name mistake
  resume-qliu-test/modules/rg-qliufrontend-test/main.tf
Due: test-environment

temporary not disable https after 8 hour re-enable it
  resume-qliu-test/modules/rg-qliufrontend-test/main.tf
Due: test-environment

turn on managed https
  resume-qliu-test/modules/rg-qliufrontend-test/main.tf
Due: test-environment

Adding front end CDN and custom domain for production site
  resume-qliu-prod/modules/rg-qliufrontend-prod/main.tf
Due: production-environment

store state file in azure & remove the frontend for now
  resume-qliu-prod/main.tf
  resume-qliu-prod/modules/rg-qliufrontend-prod/main.tf
Due: production-environment

adding the resource group
  resume-qliu-prod/modules/rg-qliufrontend-prod/main.tf
Due: production-environment

register the storage first
  resume-qliu-prod/modules/rg-qliufrontend-prod/main.tf
Due: production-environment

remove custom domain for now
  resume-qliu-prod/modules/rg-qliufrontend-prod/main.tf
Due: production-environment

add https
  resume-qliu-prod/modules/rg-qliufrontend-prod/main.tf
Due: production-environment

add resumetest as test site
  resume-qliu-test/modules/rg-qliuapi-test/main.tf
Due: test-environment

Update main.tf
  resume-qliu-test/modules/rg-qliufrontend-test/main.tf
Due: test-environment

Add Backend resources
  resume-qliu-prod/main.tf
  resume-qliu-prod/modules/rg-qliubackend-prod/main.tf
  resume-qliu-prod/modules/rg-qliubackend-prod/output.tf
Due: production-environment

correct reference
  resume-qliu-prod/main.tf
Due: production-environment

created in the wrong sub
  resume-qliu-prod/modules/rg-qliubackend-prod/main.tf
Due: production-environment

remove duplicated azurem
  resume-qliu-prod/modules/rg-qliubackend-prod/main.tf
Due: production-environment

Update output.tf
  resume-qliu-prod/modules/rg-qliubackend-prod/output.tf
Due: production-environment
